<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.stahlnow.noisetracks"
    android:versionCode="1"
    android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>   
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />  
    
    <permission
        android:name="com.stahlnow.noisetracks.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.stahlnow.noisetracks.permission.MAPS_RECEIVE"/>
    
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:name="NoisetracksApplication"
        android:label="@string/app_name"
        android:icon="@drawable/_launcher"
        android:theme="@style/Theme.Noise">
        <uses-library android:name="com.google.android.maps" />
        <!-- The Noisetracks content provider represents a database with the entries and profiles -->
        <provider android:name=".provider.NoisetracksProvider"
            android:authorities="@string/AUTHORITY_PROVIDER"
            android:syncable="true"
            android:exported="false">
            <grant-uri-permission android:pathPattern=".*" />
        </provider>
        <!-- The authenticator service: manage Noisetracks accounts -->
        <service android:name=".authenticator.AuthenticationService"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <!-- The sync service: get updates from server -->
        <service android:name=".syncadapter.SyncService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        
        <!-- The tracking service -->
        <service android:name=".service.TrackingService"/>
        
        <!-- The tracking receiver/alarm -->
        <receiver android:name=".receivers.TrackingReceiver" />
        
        <!-- Launcher Activity -->
        <activity
            android:name=".ui.Noisetracks"
            android:theme="@style/Theme.Noise.Fullscreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"> 
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
        </activity>
        <!-- User Activity -->
        <activity
            android:name=".ui.Tabs"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <action android:name="noisetracks.intent.view" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.noisetracks.entry" />
            </intent-filter>
             <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.noisetracks.entry" />
            </intent-filter>
        </activity>
        <!-- Profile View -->
        <activity
            android:name=".ui.ProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.noisetracks.entry" />
            </intent-filter>
        </activity>
        <!-- Recording View -->
        <activity
            android:name=".ui.RecordingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <!-- Location View -->
        <activity
            android:name=".ui.LocationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <!-- Single Entry View -->
        <activity
            android:name=".ui.EntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <!-- Settings activity -->
        <activity
            android:name=".utility.SettingsActivity">
        </activity>
        <!-- The Authentication/Sign-in Activity -->
        <activity
            android:name=".authenticator.AuthenticateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Noise.Fullscreen">
            <!--
                No intent-filter here! This activity is only ever launched by
                someone who explicitly knows the class name
            -->
        </activity>
        <!-- The Sign-up Activity -->
        <activity
            android:name=".authenticator.SignupActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Noise.Fullscreen">
            <!--
                No intent-filter here! This activity is only ever launched by
                someone who explicitly knows the class name
            -->
        </activity>
        
        <!-- Maps API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/maps_api_key"/>
        
    </application>

</manifest>